$medium-g: #333;

ul {
    list-style-type: none;
}

button {
    color: $medium-g;
}

.visible {
    display: block;
    margin: 0;
    padding: 1rem 0;

    li {
        padding: .5rem;
    }
}

.hidden {
    display: none;
}
